
<!DOCTYPE html>
<html lang="en" ng-app="RedditApp">
  <head>
    <meta charset="utf-8">
    <title>Reddit Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="SearchController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Reddit Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Clear</a></li>
          </ul>
          <form class="navbar-form navbar-right" ng-submit="search()">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchTerm">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <!-- HISTORY -->
        <div class="col-sm-3 col-md-2 sidebar">
          <h4 ng-show="searchHistory.length > 0">History</h4>
          <ul class="nav nav-sidebar">
            <li ng-repeat="term in searchHistory track by $index" 
                ng-class="{'active':isCurrentSearch($index)}">
                <a ng-click="delete($index)" class="deletex"><span class="glyphicon glyphicon-remove"></span></a><a ng-click="searchFromHistory($index)"">{{term}}</a>
            </li>
          </ul>
        </div>

        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <!-- INSTRUCTIONS -->
          <span ng-hide="searchTerm">
            <span class="row">
            <span class="col-xs-9 col-md-4">
            <img src="img/reddit-alien.png" alt="">
            </span>
            <span class="col-xs-3 col-md-2">
              <p class="text-left">Well, aren't you gonna search for something???</p>
            </span>
            </span>
          </span>

          <!-- FEATURED POSTS -->
          <span ng-show="thumbedPosts.length > 0">
          <h2 class="sub-header">Featured Posts</h2>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="post in thumbedPosts | limitTo:4">
              <img ng-src="{{post.data.thumbnail}}" class="img-responsive">
              <h4>{{post.data.subreddit}}</h4>
              <span class="text-muted">{{post.data.title}}</span>
            </div>
          </div>
          </span>

          <!-- ALL POSTS -->
          <span ng-show="posts.length > 0">
          <h2 class="sub-header">All Posts</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>#</th>
                  <th>Title</th>
                  <th>Subreddit</th>
                  <th>Score</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="post in posts">
                  <!-- Create the openLinks() method in controller -->
                  <td><a class="glyphicon glyphicon-search" ng-href="{{post.data.url}}" target="_blank"></a></td>
                  <td>{{$index + 1}}</td>
                  <td>{{post.data.title}}</td>
                  <td>{{post.data.subreddit}}</td>
                  <td>{{post.data.score}}</td>
                  <td><a ng-href="http://reddit.com{{post.data.permalink}}" target="_blank">{{post.data.num_comments}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          </span>

        </div>
      </div>
    </div>
  </body>
</html>
